.question-container{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.questions{
  background-color: #fff1f0;
  padding: 15px;
  margin: 15px 0px;
  border-radius: 12px;
}
.question-title{
  color: #424242;
  margin-bottom: 15px;
}
.question-body{
  color: #424242;
}