.workout {
  width: 250px;
  background-color: #efefef;
  padding: 10px;
  border-radius: 8px;
}

.workout-thumb {
  width: 100%;
  border-radius: 8px;
}

.workout-title{
  margin: 10px 0px;
  font-size: 17px;
  color: #424242;
}

.workout p{
  margin: 10px 0px;
  color: #424242;
}

.workout-btn {
  width: 100%;
  padding: 10px 0px;
  margin-top: 15px;
  font-size: 16px;
  background-color: #e65741;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}