.logo-workout-wrapper {
  padding: 28px;
  background-color: #ffc4c433;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.logo-title {
  display: inline-block;
  font-size: 36px;
  color: #424242;
}

.exercise-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  font-family: 'Poppins', sans-serif;
}

.workout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.exercise-title {
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 600;
  color: #424242;
}

.user-activity-container{
  padding: 15px;
}

/* mobile device responsiveness */
@media screen and (max-width: 576px) {
  .exercise-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .workout-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

/* tablet device responsiveness */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .exercise-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .workout-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

/* large screen device responsiveness */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .exercise-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .workout-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}