/* .user-activity{
  position: sticky;
  top: 0;
} */
.user-container{
  display: flex;
  align-items: center;
}
.user-img{
  width: 60px;
  border-radius: 50%;
}
.user-details{
  margin-left: 13px;
}
.user-name{
  color: #424242;
  font-size: 18px;
}
.location{
  color: #424242;
  font-size: 14px;
}
.user-physical-details{
  display: flex;
  justify-content: space-around;
  background-color: #f8eded;
  padding: 10px;
  margin-top: 20px;
  border-radius: 12px;
  color: #424242;
}