.user-activity{
  position: sticky;
  top: 0;
}
.user-container {
  display: flex;
  align-items: center;
}

.user-img {
  width: 55px;
  border-radius: 50%;
}

.user-details {
  margin-left: 13px;
}

.user-name {
  color: #424242;
  font-size: 17px;
}

.location {
  color: #424242;
  font-size: 13px;
}

.user-physical-details,
.break,
.exercise-time-container,
.break-time-container {
  display: flex;
  justify-content: space-around;
  background-color: #f8eded;
  padding: 10px;
  margin-top: 20px;
  border-radius: 12px;
  color: #424242;
}

.exercise-time-container,
.break-time-container {
  justify-content: space-between;
  padding: 10px 20px;
}

.break-container,
.exercise-details {
  margin-top: 20px;
}

.break-container h2, .exercise-details h2 {
  font-weight: 600;
  font-size: 20px;
}

.break-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100px;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.break-btn:hover {
  border: 2px solid #ef5847;
}

.activity-complete {
  width: 100%;
  margin-top: 20px;
  padding: 12px 0px;
  font-size: 18px;
  background-color: #ef5847;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}